* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.theme {
  background-image: linear-gradient(
    to right,
    rgba(10, 84, 244, 0.7),
    rgba(244, 236, 9, 0.7)
  );
}
/* .timer {
  margin: 0 auto;
}
.value {
  margin: 0, auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 28;
  color: rgb(128, 0, 98);
}
.label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 26;
  color: rgb(160, 0, 100);
} */
